body {
    background: #222222;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgray;
}

a {
    padding: 10px;
}

a:link {
    color:lightslategray;
}

a:visited {
    color:lightslategray;
}

a:hover {
    color: aliceblue;
    background-color: black;
}

#topnav {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 2px solid #3d3d3d;
    border-radius: 20px;
    background-color: #2f2f2f;
}

#topnav .logo img {
    height: 100px;
    width: 250px;
    max-width: 100%;
    display: block;
    padding: 10px;
}

#topnav .navbar a {
    font-size: larger;
}

#mainbody {
    max-width: 800px;
    margin: auto;
}

#mainbody img {
    max-width: 300px;
    max-height: 300px;
}

.table-border, .table-border td,.table-border th {
    border: 2px solid;
    border-color: #3d3d3d;
    border-collapse: collapse;
}

.align-left {
    align-items: left;
    text-align: left;
    justify-content: left;
}

.align-right {
    align-items: right;
    text-align: right;
    justify-content: right;
}

.align-center {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.table-row {
    margin-left:-5px;
    margin-right:-5px;
}
    
.table-column {
    float: left;
    width: 50%;
    padding: 5px;
}

.table-row::after {
    content: "";
    clear: both;
    display: table;
  }

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

.table-noborder {
    border: 0px;
}
  
th, td {
    text-align: left;
    padding: 16px;
}

@media screen and (max-width: 300px) {
    .table-column {
      width: 100%;
    }
}

#footer {
    margin: auto;
    width: 100%;
    background-color: #2f2f2f;
    border-top: 1px solid #3d3d3d;
    display: block;
}

#footer p {
    max-width: 1000px;
    margin: auto;
}

#footer ul {
    max-width: 1000px;
    margin: auto;
    list-style: none;
}

#footer table {
    max-width: 1000px;
    margin: auto;
}